/* General Styling */
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 14px;
}

h1 { 
    color: #4CAF50;
    text-align: center;
    
}

h2, h3 {
    text-align: left;
}

p {
    font-size: 0.9em;
    text-align: left;
    color: #555
    margin-bottom: 1em;
}

ul {
    font-size: 0.8em;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #4CAF50;
}

a:hover {
    color: #008CBA;
}

/* Container */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}

.two-column-list {
            display: flex;
            flex-wrap: wrap;       /* Ensures items wrap into multiple rows */
            max-width: 600px;      /* Adjust the width to create two columns */
            list-style-type: disc; /* Display bullets */
            padding-left: 20px;    /* Spacing for bullets */
            gap: 10px;             /* Optional: Space between items */
        }

        .two-column-list li {
            width: 45%; /* Set width to ensure two items per row */
            box-sizing: border-box; /* Prevent padding from breaking the layout */
        }
